@font-face {
    font-family: "Avenir Next";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=YnJhc2lsaGVyb2UuY29t&hmac=94187f24e7dffa685b3bdb9023ceaf66d4221033122adcbd56cdb397ca3276fb") format("woff2"), url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=YnJhc2lsaGVyb2UuY29t&hmac=b9185c724390e275bfda3305da9753130b92d1c20b00440d5d6560cb9d290c56") format("woff"); }
  
  @font-face {
    font-family: "Avenir Next";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=YnJhc2lsaGVyb2UuY29t&hmac=94187f24e7dffa685b3bdb9023ceaf66d4221033122adcbd56cdb397ca3276fb") format("woff2"), url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=YnJhc2lsaGVyb2UuY29t&hmac=b9185c724390e275bfda3305da9753130b92d1c20b00440d5d6560cb9d290c56") format("woff"); }
  
  @font-face {
    font-family: "Avenir Next";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n7.8cfc646eab1e39e2d81a26284624600ccae49d55.woff2?h1=YnJhc2lsaGVyb2UuY29t&hmac=fb2e34361132c91ed46be92c2f228f2274952681f8bef5ad327c3deeb3cfebec") format("woff2"), url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n7.25b10f8089bc87dfd8e50a7c68b433da7a04bc87.woff?h1=YnJhc2lsaGVyb2UuY29t&hmac=115620d8a351a879c1ce9007506bba277f2d15aba9f20cf54254cd3cf19c9f24") format("woff"); }
  
  @font-face {
    font-family: "Avenir Next";
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
    src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=YnJhc2lsaGVyb2UuY29t&hmac=549753dc337bdc6c8befc837901e7e078c287ab5c81aa767461f9fe5ffce72aa") format("woff2"), url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=YnJhc2lsaGVyb2UuY29t&hmac=4562c14de03ac6c77dd81525a04b043d526107f91e64f4298c00f7fbc76785c5") format("woff"); }
  
  @font-face {
    font-family: "Avenir Next";
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
    src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i7.3a67996166b5b7f1b7cc3b35490ebd6824908dc5.woff2?h1=YnJhc2lsaGVyb2UuY29t&hmac=79248132a117acc86a1d6174c4d6ca81853202b12eef4f7fb7f1f0dc64b69bcb") format("woff2"), url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i7.b872875ff437f0efb4c2321d0016eaa726b649ae.woff?h1=YnJhc2lsaGVyb2UuY29t&hmac=ff7c9d3394c43176acee0c060d99248e76a850c73ae67a6f2fda75c2838c0be7") format("woff"); }

body{
    font-family: "Avenir Next";
}

a {
    text-decoration: none;
    color: black;
}

header{
    height: 100px;
    display: flex;
}

.body-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.content-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 3px rgb(0 0 0 / 25%);
    border-radius: 0.5rem;
    padding-left: 3%;
    margin: 1%;
    padding-right: 3%;
}
.content-container p {
    font-size: 2.1rem;
}
.image-wrapper{
    height: 50%;
    text-align: center;
}

.button {
    border: 1px solid;
    text-align: center;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    
}
.button--left{
    background-color: yellow;
}
.button--rigth{
    background-color: blue;
}



@media (orientation: portrait) {
    .body-wrapper{
        flex-direction: column;
    }
    
    .content-container {
        width: calc(100% - 6rem);
        display: flex;
        margin: 0 3rem 3rem;
        flex-direction: column;
        font-size: 1rem;
    }

    .content-container p{
        font-size: 1.5rem;
    }

   
  }